body {
	background-color: black;
}

h1 {
	background-color: cc0000;
	color: yellow;
	font-size: 2em;
	font-family: cursive;
}

h2 {
	background-color: cc0000;
	color: yellow;
	font-family: Arial;
}

p {
	color: yellow; 
}


