body {
	background-color: black;
}

h1 {
	background-color: cc0000;
	color: yellow;
	font-size: 2em;
	font-family: cursive;
}
p {
	color: yellow; 
}

h2 {
	background-color: cc0000;
	color: yellow;
	font-family: cursive;
}

div {
	background-color:yellow;
	height: 20px;
	width: 100px;
}



